/* root styling */
:root {
  --gray: #FAFAFA;
  --darkGray: #A4A4A4;
  --white: #ffffff;
  --black: #000 ;
  --lightGreen: #22D6AA ;
  --blue:#4935FF;
  --lightBlue:#84AEFF;
}
/* root styling */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global styling resetting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.font-roboto {
    font-family: 'Roboto Slab', serif;
}

.font-calibri {
    font-family: 'calibri', sans-serif;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

/* global styling resetting */

/* body styling starts */
.body-flex{
    display: flex;
    background: white;
    color: var(--darkGray);
}
/* body styling ends */

/* nav styles starts */
nav {
    display: flex ;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    font-size: medium;
    background-color: white;

    
}

.nav-links {
    list-style-type: none;
}

.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-nav .nav-link {
    margin-bottom: 14px;
}

.upper-nav .nav-link > a{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link .logo{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.mid-nav{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 18px;
    flex: 1;
}

.mid-nav .nav-links {
    margin-bottom: 0px;
}

.mid-nav .active {
    background: var(--blue);
    border-radius: 10px;
    -webkit-box-shadow: -1px 46px 37px -20px rgba(130,122,240,1);
-moz-box-shadow: -1px 46px 37px -20px rgba(130,122,240,1);
box-shadow: -1px 46px 37px -20px rgba(130,122,240,1);
    z-index: 9999;
}

.mid-nav .nav-link > a{
    padding: 14px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkGray);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    
}

.mid-nav .nav-link > a:hover{
    background: var(--blue);
    border-radius: 10px;
    
    z-index: 9999;
    color: var(--white);
}

.mid-nav .active > a {
    
    color: var(--white);
}

.end-nav {
    flex: 0.15;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-between;
    padding: 15px 0px;
    list-style: none;
}

.end-nav .nav-link > a {
    color: var(--darkGray);
}

.notification {
    position: relative;
}

.notification .notification-indicator {
    width: 12px;
    height: 12px;
    background: var(--lightBlue);
    position: absolute;
    top: -2px;
    left: 10px;
    border-radius: 50%;
    border:2px solid white;
}

.d-hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
  .m-hidden{
      display: none;
  }
  .m-fixed-top{
      position: fixed;
    top: 0;
    right: 0;
  }
    nav{
        position: fixed;
        bottom: 0px;
        left: 0px;
        flex-direction: row;
        height: fit-content;
        padding: 10px 0px;
        z-index: 9999;
    }

    .mid-nav{
        flex-direction: row ;
        justify-content: space-between  ;
        width: 100vw;
        z-index: 100;
        margin-top: 0px;
        padding: 0px  25px;
    }

    .mid-nav .d-hidden {
        display: block;
    }

    .m-fixed-top-right{
        position: fixed;
        top: 10px;
        right: 20px;
        font-size: large;
        padding: 10px;
    }

}

/* nav styles ends */

/* main stylings starts */
main{
    flex:0;
}

.main-flex{
    display: flex;
    flex: 1;
}

.main-one {
    flex:0.5;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    padding-top: 55px;
}

.main-one .main-one-wrapper {
    max-width: 75%;
    flex: 1;
    
}

.main-one .main-one-wrapper .cred{
   display:  flex ;
    align-items: center;
    margin-bottom: 20px ;
}
.main-one .main-one-wrapper .cred .details{
    margin-left: 10px;
}

.main-one .main-one-wrapper .cred .details h1{
    color:rgb(44, 44, 44);
    font-weight: 500;
}
.main-one .main-one-wrapper .cred .details h5{
    color:rgb(107, 107, 107);
    font-weight: 700;
}

.main-one .main-one-wrapper .cred  img {
    border-radius: 50%;
    box-shadow: -5px 6px 10px rgb(189, 189, 189);
}

.main-one .main-one-wrapper .stats-info{
    padding: 10px;
}

.main-one .main-one-wrapper .stats-info .days {
    color: rgb(70, 70, 70);
}

.main-one .main-one-wrapper .stats-info .flex {
    display: flex;
    flex-direction: column;
    color: rgb(53, 53, 53);
    font-weight: 900;
}

.main-one .main-one-wrapper .stats-info .flex p{
    font-size: smaller;
    color: var(--darkGray);
    font-weight: 600;
}

.main-one .main-one-wrapper .stats-info .flex  h1 {
    font-size: 30px;
    font-weight:800;
}
.main-one .main-one-wrapper .stats-info .flex div > div >  h4 {
    font-weight: 900;
}
.main-one .main-one-wrapper .stats-info .flex  p {
    font-weight: 900;

}

.main-one .main-one-wrapper .stats-info .flex div:nth-child(odd) {
    margin-top:8px ;
    margin-bottom:10px ;
}

.main-one .main-one-wrapper .stats-info .drop-down {
    background-color: var(--blue);
    color: var(--white);
    width: fit-content;
    font-size: 11px;
    margin-top: 13px;
    padding: 12px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.main-one .main-one-wrapper .stats-bottom {
    margin-top: 25px;
    
}

.main-one .main-one-wrapper .stats-bottom .transactions div:nth-child(n){
    padding: 15px 0px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.main-one .main-one-wrapper .stats-bottom .transactions div:nth-child(n) p {
    font-size: 10px;
}

.main-one .main-one-wrapper .stats-bottom .transactions div:nth-child(n) h6 {
    color: rgb(36, 36, 36);
}

.main-two {
    flex:0.9;
    display: flex ;
    justify-content: center;
    padding-top: 55px;
}

.main-two .wrapper{
    max-width: 75%;
    flex: 1;

}


.main-two .wrapper .heading {
    margin-bottom: 15px ;
}


.main-two .wrapper .heading h5{
    color: var(--blue);
    font-weight: 800;
}

.main-two .wrapper .heading h3{
    color: rgb(43, 43, 43);
    font-weight: 800;
}

.main-two .wrapper .stats-upper{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-column-gap:20px;
}



.main-two .wrapper .stats-upper div:nth-child(n) {
    padding: 10px 0px;
    border-bottom: 1.5px solid var(--lightBlue);
}


.main-two .wrapper .stats-upper div:nth-child(n) h1{
    font-weight: 800;
    color: rgb(26, 25, 25);
}

.main-two .wrapper .stats-upper div:nth-child(n) p{
    font-weight: 800;
    font-size: 12px;
}

.main-two .wrapper .bar-chart{
    margin-top: 30px;
}

.main-two .wrapper .bar-chart .heading{
    color: rgb(26, 25, 25);
}

.main-two .wrapper .bar-chart .labels{
   display: flex;
   align-items: center;
   margin-bottom: 13px;
}

.main-two .wrapper .bar-chart .labels div {
    display: flex;
    align-items: center;
    flex: 1;
}
.main-two .wrapper .bar-chart .labels div div {
    display: flex;
    align-items: center;
    margin-left: 6px;
    font-family: "Poppins",sans-serif;
    font-size: larger;
}


.main-two .wrapper .bar-chart .labels div div h6:nth-child(2){
    margin-left: 5px;
    color: rgb(26, 25, 25);
}

.main-two .wrapper .bar-chart .labels div  p {
    width: 11px;
    height: 7px;
    border-radius: 10px;

}

.main-two .wrapper .bar-chart .labels div:nth-child(1)  p {
    background-color: darkblue;
}

.main-two .wrapper .bar-chart .labels div:nth-child(2)  p {
    background-color: blue;
}

.main-two .wrapper .bar-chart .labels div:nth-child(3)  p {
    background-color: lightblue;
}

.main-two .wrapper .stats-bottom{
    margin-top: 30px;
}

.main-two .wrapper .stats-bottom .heading{
     color: rgb(26, 25, 25);
}

.main-two .wrapper .stats-bottom .sub-heading{
     margin-top: -10px;
     margin-bottom: 15px;
}

.main-two .wrapper .stats-bottom .data {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    /* align-items: center; */
}
.main-two .wrapper .stats-bottom .data canvas{
    transform: scale(0.3); 
    margin:-100px;
}

.main-two .wrapper .stats-bottom .data .details{
    flex: 0.7;
    
}

.main-two .wrapper .stats-bottom .data .details .detail{
    padding: 10px 0px;
    border-bottom: 2px solid rgb(245, 245, 245);
}

.main-two .wrapper .stats-bottom .data .details .detail h5 span {
    color: rgb(82, 82, 82);
}

.main-two .wrapper .stats-bottom .data .details .detail h5{
    font-size: 12px;
    color: #000;
}

.main-two .wrapper .stats-bottom .data .dough-chart{
    display: flex;
    justify-content: center;
}
.main-two .wrapper .stats-bottom .data .dough-chart p {
    text-align: center;
    width: 100%;
    font-size: 13px;
    color: #000;
}

.main-three{
    flex: 0.4;
    padding-top: 55px;
}

@media only screen and (min-width: 769px) {
    nav {
        position: sticky;
        top: 0;
    }
}
@media only screen and (max-width: 768px) {

    main{
        padding-bottom: 150px;
    }

  .main-flex{
        flex-direction: column;
        flex: 1;
    }
    .main-one  {
        background-color: var(--white);
        padding: 15px;
        padding-top: 50px;
    }
    .main-one .main-one-wrapper {
        max-width: 100%;
    }
    .main-one .main-one-wrapper .stats-info{
        background-color: var(--gray);
        border-radius: 20px;
        padding:30px;
        margin-bottom: 20px;
    }

    .m-flex-row{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .stats-wrapper{
        flex: 0.5;
    }

    .main-one .main-one-wrapper .stats-info .flex  h1 {
        font-size: 40px;
    }

    .d-hidden {
        display: inline-block;
    }

    .main-one .main-one-wrapper .stats-info .drop-down {
        width: 100%;
        text-align: center;
    }
    .main-two .wrapper {
        max-width: 90%;
    }
    .main-two .wrapper .stats-upper div:nth-child(n) {
        flex:0.5;
    }

    .main-two .wrapper .stats-upper div:nth-child(1){
        flex-grow: 1;
        width: 100%;
    }

    .main-two .wrapper .stats-upper {
        grid-template-columns: 1fr 1fr;
    }

    .main-two .wrapper .stats-upper > div:nth-child(2){
        grid-column:1/2;
    }
    .main-two .wrapper .stats-upper > div:nth-child(3){
        grid-column:1fr;
    }
    .main-two .wrapper .stats-upper > div:nth-child(1){
        grid-column: 1/3;
    } 

    .main-two .wrapper .stats-upper > div:nth-child(1) h1{
        font-size:28px;
    }
    .main-two .wrapper .stats-upper > div:nth-child(n) p{
        font-size:9px;
    }

    .main-two .wrapper .bar-chart .labels div {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-two .wrapper .bar-chart .labels div div {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
        margin-top: 3px;
    }
    .main-two .wrapper .bar-chart .labels{
        margin-bottom: 16px;
    }
    .main-two .wrapper .bar-chart .labels div div h6:nth-child(2){
        margin-left: 0px;
        font-size: 15px;
    }
    .main-two .wrapper .bar-chart .labels div div h6:nth-child(1){
        font-size: x-small;
    }
    .main-two .wrapper .stats-bottom .data {
        grid-template-columns: 1fr;
        
    }
    .main-two .wrapper .stats-bottom .data .dough-chart {
       width :100%;
       overflow-wrap: break-word;
       margin-top: 10px;
    }
    .main-two .wrapper .stats-bottom .data canvas{
        transform: scale(0.3);
        
    }

    .main-two .wrapper .stats-bottom .data .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    
    .main-two .wrapper .stats-bottom .heading{
        font-size: 16px;
    }

    .main-two .wrapper .stats-bottom .sub-heading{
      font-size: smaller;
      margin-bottom: 10px;
    }

}

/* main stylings ends */


.item {
    position: relative;
    float: left;
    z-index: 1;
    overflow: hidden;
}

.item h2 {
    text-align:center;
    position: absolute;
    top: 34%;
    left: 55%;
    transform: translate(-50%,-40%);
    font-size: 16px;
}

.item h3 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    font-size:12px;
    color: #000;

}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 160; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 10;
}

.html .circle_animation {
    -webkit-animation: html 1s ease-out forwards;
    animation: html 1s ease-out forwards;
}

.css .circle_animation {
    -webkit-animation: css 1s ease-out forwards;
    animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 10; /* 50% would be 220 (half the initial value specified above) */
  }
}

@keyframes html {
  to {
    stroke-dashoffset: 10;
  }
}

@-webkit-keyframes css {
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes css {
  to {
    stroke-dashoffset: 130;
  }
}